<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/animation.css">
  <title>SDrive</title>
  
  <style>
      a:hover{
          text-decoration: none;
        
      }
      
     
  </style> 
  
</head>

<body data-spy="scroll" data-target="#main-nav" id="home">

  <nav style="padding-bottom:3px;" class=" navbar navbar-expand-sm navbar-dark fixed-top" style="background-color:#1f1029" id="main-nav">
    <div class="container">
      <a href="index.html" class="navbar-brand"><img src="img/logof.png" height="33px"><span style="margin-left:20px;font-size:20px; font-family:Arial, Helvetica, sans-serif" class="fas">SDrive</span></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#explore-head-section" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#create-head-section" class="nav-link">Packages</a>
          </li>
          <li class="nav-item">
            <a href="#share-head-section" class="nav-link">Security</a>
          </li>
          <li class="nav-item">
            <a href="#download-head-section" class="nav-link">Download</a>
          </li>
   
        </ul>
         <a id="login" class="btn ml-1" href="user_login" style="background-color:#9a3fda;color:#fff">Login</a>
      </div>
    </div>
    
  </nav>
 
  <!-- HOME SECTION -->
  <header id="home-section">
    <div class="dark-overlay">
      <div class="home-inner container">
        <div class="row ">
          <div class="animatable fadeInDown col-lg-8 d-none d-lg-block m-auto">
            <h1 class="animatable bounceInLeft display-4">
              Register Yourself Free And <strong>Get 2GB</strong> Free Storage.              
            </h1>
            <div class="animatable fadeInUp d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-1x"></i>
              </div>
              <div class="animatable fadeInUp p-4 align-self-end ">
                Get all the storage capacity that you need with data being decentralized, distributed and encrypted.  
            </div>
            </div>
            <div class="animatable fadeInUp d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-1x"></i>
              </div>
              <div class="animatable fadeInUp p-4 align-self-end">
               Easy to use interface.
              </div>
            </div>

            <div class="animatable fadeInUp d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-1x"></i>
              </div>
              <div class="animatable fadeInUp p-4 align-self-end">
               Access your data on a secure cloud-based storage, on the blockchain.  
            </div>
            </div>
          </div>
          

          <div class="animatable fadeInUp">
            
          </div>
        </div>
      </div>
    </div>
  </header>
 <!-- EXPLORE HEAD -->
  
  <section id="explore-head-section"  class="w-auto" style="background-color:#1f1029" >
    <div class="container animatable bounceInLeft">
      <div class="row">
        <div class="col text-center py-5" >
          <h1 class="display-5" style="font-weight:bold">About Us</h1>
          <p class="lead display-5">We are providing secure Decentralized Data Storage using Blockchain Technology. Your Data would be distributed across the SSS Storage Nodes. Access your data from any device using the Simple Drive app (SDrive). </p>
          <a href="#" class="btn btn-outline-secondary">Find Out More</a>
        </div>
      </div>
    </div>
  </section>
  

  <!-- EXPLORE SECTION -->
 
  <section id="explore-section" class="w-auto text-muted py-5" style="background-color:#2a1539;color:#fff">
    <div class="container" style="color:#fff">
      <div>
        <h2 class="display-5 pt-2 animatable bounceInLeft mb-3"
         style="font-weight:bold">Our Innovation</h2>
        <div class="col-12 pl-4 display-5" style="font-size:25px;">
  		  <div class="lead display-5">
         Simple Drive otherwise known as SDrive aims to revolutionize cloud storage using Hyperledger Blockchain Technology. The goal is to create a Decentralized Storage Platform that will surely disrupt various technology industries with its innovative and incentivized revenue profit model.          </div> 

<br>
<div class="lead display-5">

Blockchain is a new approach to create a distributed network which was first introduced in 2008. By the help of this disruptive technology a peer-to-peer network can be formed where nodes must reach a consensus and form a chain from accepted blocks, while no central party or trusted controller is required. Amongst all the existing usage of this technology,<strong> we are only ones using Hyperledger Fabric as a decentralized storage system where data is stored across multiple storage nodes without a single point of failure. </strong>. Hyperledger Fabric is one of the prominent framework of blockchain. By implementing end-to-end encryption clients can securely transmit their files through a fully decentralized network and eliminate the risk of data failures.

</div>
<br>
<div class=" lead display-5">
We believe end user experience is key to drive success. Our technology will empower the individual without being reliant on centralized corporations.
</div>


        </div>
       
        
        <div class="row">
        <h3 class="col-12  display-5 pt-4 mt-3 animatable bounceInLeft mb-3"
         style="font-weight:bold">Our Team Members</h3>
         
         <div class="ml-5 col-4 pl-2 float-left animatable fadeInUp">
         <img class=" mx-auto d-block" style="max-width: 100%; height: auto;" src="img/cryp.png">
         <h4 class="lead display-5 " style="text-align:center;">CryptoMan</h4>
         <div class="lead"  style="text-align:center;color:#D4D4D4;font-size:14px;">Founder & CEO
         </div>
         </div>
         
         
         
         <div class="col-4 ml-2 float-left animatable fadeInDown" style="margin-top:0px;">
          <img class=" mx-auto d-block" style="max-width: 100%; height: auto;margin-top:0px"  src="img/image.png">
         <h4 class="lead display-5" style="text-align:center;">Malik</h4>
         <div style="text-align:center;color:#D4D4D4;font-size:14px;">Blockchain Stack Developer</div>
         </div>
         </div>
        
      </div>
    </div>
  </section>
  <!-- CREATE HEAD -->
  <section id="create-head-section" style="background-color:#1f1029">
    <div class="container animatable fadeInDown">
      <div class="row">
        <div class="col text-center py-5">
          <h1 class="display-5" style="font-weight:bold">Packages</h1>
          <p class="lead display-5">We are providing various amounts of storage packages. </p>
          <a href="#" class=" btn btn-outline-light">Find Out More</a>
        </div>
      </div>
    </div>
  </section>

  <!-- CREATE SECTION -->
<section id="create-section" class="py-5" style="background-color:#2a1539" >
    <div class="container">
      <div class="row" >
      <!--Basic--->
      
        <div class="p-1 ml-4 col-2 mt-3  float-left basic animatable fadeInDown" style="background:#fff; min-width:170px">
        <h5  class="py-3  px-0" style="color:#fff ;font-weight:bold;background-color:#9a3fda; border-radius:7px; text-align:center">Earth</h5>
        
        <h5 class="display-5 pt-3" style="font-weight:bold">2 GB</h5>
         <div  style="color:#9a3fda; font-weight:bold">Free</div> 

        </div>
        
        <!--Silver--->
        <div class="p-1 ml-4 mt-3 col-2 float-left gold animatable moveUp" style="background:#fff; min-width:170px;">
        <h5 class="py-3 px-0" style="color:#fff ;font-weight:bold;background-color:#9a3fda; border-radius:7px;">Moon</h5>
        
        <h5 class="display-5 pt-3" style="font-weight:bold">100 GB</h5>
         <div  style="color:#9a3fda; font-weight:bold">$4.00 / month</div> 
         
        


        </div>
        
         <!--bronze--->
         <div class="p-1 float-left mt-3 ml-4 col-2 gold animatable fadeInDown" style="background:#fff; min-width:170px;">
        <h5 class="py-3 px-0" style="color:#fff ;font-weight:bold;background-color:#9a3fda; border-radius:7px;">Jupiter</h5>
        
        <h5 class="display-5 pt-3" style="font-weight:bold">300 GB</h4>
        <div  style="color:#9a3fda; font-weight:bold">$3.00 / month</div> 
         
         

        </div>
      
        <!--Gold--->
       <div class=" p-1 ml-4 mt-3 col-2 float-left gold animatable moveUp" style="background:#fff; min-width:170px;">
        <h5 class="py-3 px-0" style="color:#fff ;font-weight:bold;background-color:#9a3fda; border-radius:7px;">Milkyway</h5>
        
        <h5 class="display-5 pt-3" style="font-weight:bold">1Tb</h5>
         <div  style="color:#9a3fda; font-weight:bold">$2.00 / month</div> 
         


        </div>
        
          

      </div>
    </div>
    
  </section>  
 <!-- SHARE HEAD -->
  <section id="share-head-section" style="background-color:#1f1029">
    <div class="container" >
      <div class="row">
        <div class="col text-center py-5">
          <h1 class=" display-5" style="font-weight:bold">Security</h1>
          <div class="lead display-5" style=" text-align:justify;">The rise in popularity of permissioned blockchain platforms in recent time is significant. We are providing data storage built on Hyperledger Fabric. Hyperledger Fabric is a highly secure permissioned blockchain platform, and we are the first to innovate using it for Data Storage. Hyperledger is a multi-project open source collaborative effort hosted by The Linux Foundation. The Fabric comprises various components such as smart-contracts, endorsers, committers, validators, On-Chain and Off-Chain transactions and orderers. As the performance of blockchain platform is a major concern for enterprise applications, in this work, we performed a comprehensive empirical design to characterize the performance of Hyperledger Fabric and identify lack of performance in centralized system.</div>          <a href="#" class="btn btn-outline-light">Find Out More</a>
        </div>
      </div>
    </div>
  </section>

  <!-- SHARE SECTION -->
      <section id="share-section" class=" text-muted py-5" style="background-color:#2a1539">
    <div class="container" style="color:#fff">
       <h3 class="display-5 pt-0 pb-4 animatable fadeInUp " style="float:none">Hyperleger Fabric Security Features</h3>
        <div class=" col-12 clearfix">
        <div class="p-0 col-5 float-left pb-5 feature animatable moveUp" style="min-width:350px;">
        <h4  class="p-2" style="color:#fff; background-color:#9a3fda;font-weight:bold; border-radius:7px; text-align:center">Performance, Scalability, Trust</h4>
        
       <p class="p-2" style="text-align:left;font-size:18px">Hyperledger Fabric is built on a modular architecture that separates transaction processing into three phases: distributed logic processing and agreement (“chaincode”), transaction ordering, and transaction validation and commitment. This separation confers several advantages: Fewer levels of trust and verification are required across node types, and network scalability and performance are optimized.</p>

        </div> 
        
        
        <div class="p-0 col-1 float-left"></div>
        
        <div class="p-0 float-left col-5 feature animatable fadeInDown" style="min-width:350px;">
        <h4  class="p-2" style="color:#fff;background-color:#9a3fda ;font-weight:bold; border-radius:7px; text-align:center">Permissioned Membership</h4>
        
       <p class="p-2" style="text-align:left;font-size:18px">Hyperledger Fabric is a framework for permissioned networks, where all participants have known identities. When considering a permissioned network, you should think about whether your blockchain use case needs to comply with data protection regulations. Many use cases — in the financial sector and healthcare industry, in particular — are subject to data protection laws that require knowing who the members of the network are and who is accessing specific data.</p>

        </div>
        
      </div>
      
      
      
      <div class=" col-12 clearfix">
        <div class="p-0 col-5 float-left  feature animatable moveUp" style="min-width:350px;">
        <h4  class="p-2" style="color:#fff;background-color:#9a3fda ;font-weight:bold; border-radius:7px; text-align:center">Data on a need-to-know basis
</h4>
        
       <p class="p-2" style="text-align:left;font-size:18px">Businesses, due to competitiveness, protection laws, and regulation on confidentiality of personal data dictate the need for privacy of certain data elements, which can be achieved through data partitioning on the blockchain. Channels, supported in Hyperledger Fabric, allow for data to go to only the parties that need to know.

</p>

        </div>
        
        <div class="p-0 float-left col-1"></div>
        
        
        <div class="p-0 col-5 float-left feature animatable fadeInDown" style="min-width:350px;">
        <h4  class="p-2" style="color:#fff;background-color:#9a3fda ;font-weight:bold; border-radius:7px; text-align:center">Immutable Distributed Ledger</h4>
        
       <p class="p-2" style="text-align:left;font-size:18px">The ledger is the sequenced record of state transitions for the blockchain application. Each transaction results in a set of asset key-value pairs that are committed to the ledger as create and search transaction only. The immutable source of truth is appended into the file system of the peer, which also has LevelDB and CouchDB embedded.</p>

        </div> 
      </div>
      
      
      <div class=" col-12 clearfix">
       <div class="p-0 col-5 float-left pb-5 feature animatable moveUp" style="min-width:350px;">
        <h4  class="p-2" style="color:#fff;background-color:#9a3fda ;font-weight:bold; border-radius:7px; text-align:center">Protection of Sensitive Data</h4>
        
       <p class="p-2" style="text-align:left;font-size:18px">HSM (Hardware Security Module) support is vital for safeguarding and managing digital keys for strong authentication. Hyperledger Fabric provides modified and unmodified PKCS11 for key generation, which supports cases like identity management that need more protection. For scenarios dealing with identity management, HSM increases the protection of keys and sensitive data.</p>

        </div> 
        
        <div class="p-0 col-1 float-left "></div>
         <div class="p-0 col-5 float-left feature animatable fadeInDown" style="min-width:350px;">
        <h4  class="p-2" style="color:#fff;background-color:#9a3fda ;font-weight:bold; border-radius:7px; text-align:center">Modular Architecture Support
</h4>
        
       <p class="p-2" style="text-align:left;font-size:18px">The modularity of Hyperledger Fabric architecture enables network designers to plug in their preferred implementations for components, which is an advantage. One of the most requested areas for modularity is “bring your own identity.” Some multi-company networks already have identity management and want to reuse instead of rebuild. Other components of the architecture that can be easily plugged in include consensus or encryption, where some countries have their own encryption standards..

</p>

        </div>
        
        
      </div>
      
      
      
      
      
      
      
    </div>
    
  </section>    
     <!---Download section-->
  <section id="download-head-section" style="background-color:#1f1029" >
    <div class="container" style="background-color:#1f1029">
      <div class="row">
        <div class="col text-center py-5 animatable bounceInLeft" >
          <h1 class="display-5" style="font-weight:bold">Download</h1>
          <p class="lead display-5">Download SDrive.</p>
          <a href="#" class="btn btn-outline-secondary">Find Out More</a>
        </div>
      </div>
    </div>
  </section>
  
 <section id="download-section" style="background-color:#2a1539"
   class="text-muted py-5 px-0">
    <div class="container" >
      <div class="row clearfix">
      
      <div class="col-3 bg-white ml-3 pl-2 float-left down pb-3 animatable fadeInDown ">
       <h5 class="display-5" style="color:#000;font-weight:bold">Windows</h5>
       <img class="mx-auto d-block img-fluid" alt="Responsive image"  src="img/windows.jpg"/>
       <h6 style="color:#B6B6B6">Version: 1.0</h6>
       <a  class="p-1 col-12" id="download" style=" text-align:none;color:#fff;border-radius:7px;font-weight:bold;" href="#">Download</a>
      </div>
      <div class="col-1  float-left"></div>
      <div class="col-3 pl-2 bg-white float-left down pb-3 animatable moveUp ">
       <h5 class="display-5" style="color:#000;font-weight:bold">Android</h5>
       <img class="mx-auto d-block img-fluid" alt="Responsive image" src="img/android.png"/>
       <h6 style="color:#B6B6B6">Version: 1.0</h6>
       <a  class="p-1 col-12" id="download" style=" text-align:none;color:#fff;border-radius:7px;font-weight:bold;" href="#">Download</a>
      </div>
      <div class="col-1 float-left"></div>
      <div class="col-3 pl-2 bg-white float-left down pb-3 animatable fadeInDown">
       <h5 class="display-5" style="color:#000;font-weight:bold">Mac</h5>
       <img class="mx-auto d-block img-fluid" alt="Responsive image"  src="img/mac.png"/>
       <h6 style="color:#B6B6B6">Version: 1.0</h6>
       <a  class="p-1 col-12" id="download" style=" text-align:none;color:#fff;border-radius:7px;font-weight:bold;" href="#">Download</a>
      </div>
      
      </div>
     </div>
    </section>

  <!-- FOOTER -->
  <footer id="main-footer" style="background-color:#1f1029">
    <div class="container">
      <div class="row">
        <div class="col text-center py-4">
          <h3>SDrive</h3>
          <p>Copyright &copy;
            <span id="year"></span>
           
          </p>
         
        </div>
      </div>
    </div>
  </footer>

  <!-- CONTACT MODAL -->
  <div class="modal fade text-dark"  id="contactModal">
    <div class="modal-dialog" >
      <div class="modal-content" style="background-color:#9a3fda;color:#fff">
        <div class="modal-header">
          <h5 class="modal-title">Login Details</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
               <input type="password" class="form-control">
             
            </div>
          </form>
        </div>
        <div class="btn btn-outline-light btn-block form-group">Click to Login</button>
        </div>
      </div>
    </div>
  </div>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
    
<script>
  // Trigger CSS animations on scroll.
// Detailed explanation can be found at http://www.bram.us/2013/11/20/scroll-animations/

// Looking for a version that also reverses the animation when
// elements scroll below the fold again?
// --> Check https://codepen.io/bramus/pen/vKpjNP

jQuery(function($) {
  
  // Function which adds the 'animated' class to any '.animatable' in view
  var doAnimations = function() {
    
    // Calc current offset and get all animatables
    var offset = $(window).scrollTop() + $(window).height(),
        $animatables = $('.animatable');
    
    // Unbind scroll handler if we have no animatables
    if ($animatables.length == 0) {
      $(window).off('scroll', doAnimations);
    }
    
    // Check all animatables and animate them if necessary
		$animatables.each(function(i) {
       var $animatable = $(this);
			if (($animatable.offset().top + $animatable.height() - 20) < offset) {
        $animatable.removeClass('animatable').addClass('animated');
			}
    });

	};
  
  // Hook doAnimations on scroll, and trigger a scroll
	$(window).on('scroll', doAnimations);
  $(window).trigger('scroll');

});
  </script>
  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-nav' });

    // Smooth Scrolling
    $("#main-nav a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;
        });
      }
    });
  </script>
  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    // Init Scrollspy
    $('body').scrollspy({ target: '#main-nav' });

    // Smooth Scrolling
    $("#main-nav a").on('click', function (event) {
      if (this.hash !== "") {
        event.preventDefault();

        const hash = this.hash;

        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          window.location.hash = hash;
        });
      }
    });
  </script>
  

</body>

</html>